<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://7xq4sa.com1.z0.glb.clouddn.com/Robin8.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>http://7xq4sa.com1.z0.glb.clouddn.com/Robin8.png</string>
<key>needs-shine</key>
<true/>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.saisan.ftb.inhouse</string>
<key>bundle-version</key>
<string>1.0.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Robin8</string>
</dict>
</dict>
</array>
</dict>
</plist>
